/* CRUD
------------------------------------------------------------------------------
*/

table.crud {
  width: 100%;
}

table.crud th {
  text-align: left;
  background-color: #EAEAEA;
  padding: 2px 4px 2px 2px;
  color:#777;
  font-size:11px;
}

table.crud td {
  padding:10px 10px 0 2px;
  border-top: 1px solid #EAEAEA;
}

table.crud td.acoes {
  padding-top:0;
}

table.crud td.acoes a {
  text-decoration:none;
}

a.incluir {
  font-weight: bold;
  color: green;
  padding: 0 0 0 18px;
  background: transparent url(../../images/icones/add.png) no-repeat 0 0;
}

a.remover {
  font-weight: bold;
  color: #E9584C;
  padding: 0 0 0 18px;
  background: transparent url(../../images/icones/delete.png) no-repeat 0 0;
}

.procurar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #F5F5F5;
  margin: 0 0 20px;
  padding: 10px;
}

.procurar fieldset {
  margin: 0;
}

.procurar li {
  float: left;
  display: inline;
  margin-right: 10px;
}

.estreita { width:20px; }
.media { width:80px;}
