/* Tags
------------------------------------------------------------------------------
*/

body {
  font-family:Verdana,Arial,sans-serif;
}

a, a:visited {
  color: blue;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
  letter-spacing: -1px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

/* Cabeçalho
------------------------------------------------------------------------------
*/

#cabecalho {
  position: relative;
  background-color: #19A4FF;
  background-image:url(/images/fundos/bg_degrade_1px_black.png);
  height: 85px;
  color: white;
}

#cabecalho h1 {
  padding: 20px 0 0 0;
}

#links_administrativos {
  background-color: #5BBEFF;
  padding: 10px;
  margin: 22px 0 0 0;
  text-align: center;
  width: 160px;
}

#links_administrativos a,
#links_administrativos a:visited {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

#links_administrativos a:hover {
  text-decoration: underline;
}

#menu {
  background-color: #FFE69F;
  margin-bottom: 20px;
}

#menu a,
#menu a:visited {
  text-decoration: none;
}

/* Mensagem sobre erro de validação.
------------------------------------------------------------------------------
*/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #D72A2A;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #FFE9E9;
}

#errorExplanation h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #D72A2A;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 10px;
}

#errorExplanation ul {
  margin: 0;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  margin-left: 30px;
  margin-bottom: 10px;
}

/* Mensagens de sucesso, aviso e erro.
------------------------------------------------------------------------------
*/

.notice, .error, .warning, .info {
  line-height: 1.5em;
  margin: 0 auto 5px;
}

.notice {
  border: 2px solid #9c9;
  background: #E2F9E3;
  color: #060;
}

.error {
  border: 2px solid #c68484;
  background: #FCC;
  color: #c00;
}

.warning {
  border: 2px solid #dd0;
  background: #FFC;
  color: #000;
}

.info {
  border: 2px solid #82c2d4;
  background: #EBF5F8;
  color: #000;
}

#flash_message p {
  padding: 10px;
  margin: 0;
}

#flash_message {
  margin-bottom: 20px;
}

.flash {
  margin: 0 0 2px 0; padding: 0;
}

/* Bordas arredondadas
------------------------------------------------------------------------------
*/

#links_administrativos {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Adendo ao Table CRUD 
------------------------------------------------------------------------------
*/
.estreita { width:20px; }
.grandao { font-size: 26px; }
.grandao .real { font-size: 14px; }
.pequeno { font-size: 11px; }
.cinza { color: #999; }
.direita { text-align:right; }
.carregando { 
  background-image: url('/images/spinners/spinner.gif');
  background-repeat: no-repeat;
  background-position: 10px auto;
}
div.detalhes_pedido {
  border-top:1px dashed gray;
  border-bottom:1px dashed gray;
  background-color:#EAEAEA;
}
div.detalhes_pedido h2, 
div.detalhes_pedido h3 {
  margin:0;
}
div.detalhes_pedido h3 {
  color:#19A4FF;
}
div.detalhes_pedido div.infos_wrapper {
  padding:5px;
  border:3px solid #19A4FF;
  -moz-border-radius-topleft:8px;
  -moz-border-radius-topright:8px;
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px;
}
p.item_produto {
  margin:0;
}
p.item_produto span.preco_unitario {
  margin-left:70px;
}
p.item_produto span.valor_total {
  margin-left:70px;
  color:green;
}
p.frete {
  color:#777;
  margin:0;
}
p.frete span.valor_frete {
  margin-left:265px;
}
p.desconto {
  color:red;
  margin:0;
}
p.desconto span.valor_desconto {
  margin-left:235px;
}
p.total {
  border-top:1px dotted gray;
  font-size:14px;
  font-weight:bold;
}
p.total span.valor_total {
  color:green;
  margin-left:250px;
}

a.botao {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:transparent url(/images/decoracao/right_01.png) no-repeat scroll right top;
  color:#111111 !important;
  display:block;
  float:left;
  font-weight:bold;
  margin-right:6px;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  padding-right:20px;
  text-decoration:none;
}
a.botao span {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:transparent url(/images/decoracao/left_01.png) no-repeat scroll 0 0;
  display:block;
  line-height:22px;
  padding:7px 0 5px 14px;
  text-shadow:1px 1px 0 #EFEFEF;
}
a.botao span img {
  margin:0 3px 3px 0;
  vertical-align:middle;
}