/* Login
------------------------------------------------------------------------------
*/

body {
  background-color: #5BBEFF;
}

#login {
  padding: 20px;
  margin: 50px 0 0 0;
  background-color: #F2F2F2;
  border: 10px solid #19A4FF;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
#login h1 {
  font-family:Verdana,Arial,sans-serif;
  text-align:center;
}

fieldset { margin: 0; }

input.text,
input.password { padding: 5px; font-family: Arial, sans-serif; font-size: 20px; width: 396px; }