<div>
  <ul id="my_options">
  <li class="bigrow">
      <%= link_to "#{image_tag('icones/page_gear.png', :style => 'position:relative;top:2px')} Relatório de vendas e <b>notas fiscais</b> ao contador", { 
                  :action => "relatorios" } %>
  </li>
  </ul>
</div>