<div>
  <ul id="my_options">
  <li class="bigrow">
      <%= link_to "#{image_tag('icones/cog.png', :style => 'position:relative;top:2px')} <b>Conferência de status</b> com histórico do <b>UOL PagSeguro</b>", { 
                  :action => "entrar_arquivo" } %>
  </li>
  </ul>
</div>