<div class="grid_12">
<!-- RODAPE -->
<div id="rodape">
  <p style="text-align:center;color:#fff;margin-top:10px;">
    Se desejar, <a href="/fale-conosco">tire suas dúvidas ou fale conosco</a>!
    <br />&copy;2008 - Bromelia Produções - <a href="/quem-somos">Quem somos</a> - <a href="/letras">Letras das músicas</a> - <a href="/iphone">iPhone</a>
  </p>
</div>

<%= render :partial => "layouts/essential/google_analytics" %>
</div>