<div class="grid_12">
<!-- RODAPE -->
<div id="rodape">
  <p style="text-align:center;color:#fff;margin-top:10px;">
    Se desejar, <a href="/fale-conosco">tire suas dúvidas ou fale conosco</a>!
    <br />&copy;2008 - Bromelia Produções - <a href="/quem-somos">Quem somos</a> - <a href="/letras/galinha-pintadinha">Letras das músicas</a> - <a href="/iphone">iPhone</a>
  </p>
</div>

<!-- GOOGLE ANALYTICS -->
<% if (RAILS_ENV=='production') -%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5599140-1");
pageTracker._trackPageview();
</script>
<% end -%>
</div>