<div class="grid_12" id="header">
<!-- TESTEIRA -->
<img src="/images/decoracao/fita_natal.png" id="fita_natal" alt="fita natal">
<div id="header_content" class="grid_12 alpha omega">
  <div class="grid_7 alpha">
<h1 style="display:none;">Galinha Pintadinha</h1>
<p id="link2home"><a href="/"><img src="/images/logos/galinha_pintadinha_natal.png" width="450" height="140" alt="logomarca galinha pintadinha" /></a></p>
  </div>
  <div class="grid_5 omega">
<h2 id="usp">Animações com as músicas do cancioneiro popular brasileiro que educam e divertem as crianças.</h2>
  </div>
</div>
</div>