<!-- barra superior -->
<div id="top_bar">
<div class="container_12">
  <ul>
	  <li><a href="/pelucia">Pelúcia</a></li>
	  <li><a href="/videos/trailer">DVD</a></li>
	  <li><a href="/caixinha-de-musica">CD caixinha de música</a></li>
	  <li><a href="/comprar"><img src="/images/icones/barra_carrinho_compra.png"></a></li>
	</ul>
</div></div>