/* CARRINHO DE COMPRAS */
.topo_carrinho {
  background-color:#576F9E;
}
.topo_carrinho h5 {
  color:white;
  font-weight:bold;
  text-align:center;
  margin:0;
}
.curta {
  width:50px;
}
.larga {
  width:240px;
}
tr#total {
  background-color:#69C56A;
  line-height:0.25em;
}
/* LISTA DE SUGESTOES */
#sugestoes {
  margin:0 0 20px;
  background-color:#F5F5C4;
}
.topo_colorido {
  background-color:#EBEB95;
}
.topo_colorido h6 {
  color:#576F9E;
  font-weight:normal;
  text-align:center;
  margin:0;
}
ul#lista_de_sugestoes,
ul#lista_de_leve_tambem {
  margin:0;
}
ul#lista_de_sugestoes li.produtos {
  list-style:none;
  margin:10px 0 0;
  padding:0;
  float:left;
  width:180px;
}
ul#lista_de_sugestoes li.produtos p {
  text-align:center;
}
ul#leve_tambem .topo_colorido {
  background-color:red;
}
ul#leve_tambem .topo_colorido h6 {
  color:#576F9E;
  font-weight:normal;
  text-align:center;
  margin:0;
}
ul#lista_de_leve_tambem li.produtos {
  list-style:none;
  margin:10px 0 0 30px;
  padding:0;
}
ul#lista_de_leve_tambem li.produtos p.produto_faltante,
ul#lista_de_leve_tambem li.produtos p.lnk_levar_pacote {
  width:350px;
  display:block;
  float:left;
}
ul#lista_de_leve_tambem li.produtos p.lnk_levar_pacote {
  margin-top:20px;
}
ul#lista_de_leve_tambem li.produtos p.lnk_levar_pacote a {
  background-color:#009BCA; 
  color:white;
  font-size:16px;
  font-weight:bold;
  padding:10px;
}
ul#lista_de_leve_tambem li.produtos p.lnk_levar_pacote a:hover {
  text-decoration:none;
  background-color:#69C56A;
}

/* display de precos */
span.preco_mentira {
  text-decoration: line-through;
  color:red;
}
span.preco_final {
  font-weight:bold;
  color:green;
}
span.desconto {
  font-weight:bold;
  color:green;
}