/* TESTEIRA */
h3#call2compra {
  color:#E64101;
  font-size:2em;
  font-weight:bold;
}

/* INSTRUCOES */
ol#passos {
  margin-bottom:5px;
}
ol#passos li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:-5px 0 0px 0;
  padding:5px 0 15px 40px;
  color:#999;
  font-size:13px;
}
ol#passos li.marcada {
  font-weight:bold;
  color:#21759B; /*#E64101;*/
}
ol#passos li.one {
  background:transparent url(/images/icones/step1.png) no-repeat scroll left top;
}
ol#passos li.two {
  background:transparent url(/images/icones/step2.png) no-repeat scroll left top;
}
ol#passos li.three {
  background:transparent url(/images/icones/step3.png) no-repeat scroll left top;
}

/* CARRINHO DE COMPRAS */
.topo_carrinho {
  background-color:#576F9E;
}
.topo_carrinho h5 {
  color:white;
  font-weight:bold;
  text-align:center;
  margin:0;
}
#meu_carrinho h5 {
  font-family:"Helvetica","Verdana","Arial",sans-serif;
  font-size:14px;
  font-weight:bold;
  padding:0 5px;
  border-bottom:1px solid gray;
  margin:0 0 1px 0;
}
.curta {
  width:50px;
}
.larga {
  width:260px;
}
tr#parcial {
  background-color:#EEE;
  line-height:0.1em;
}
tr#frete {
  background-color:#CCC;
  line-height:0.1em;
}
tr#desconto {
  background-color:#3D3;
  line-height:0.1em;
}
tr#total {
  font-weight:bold;
  color:white;
  background-color:#576F9E;
  line-height:0.25em;
}
/* LISTA DE SUGESTOES */
#sugestoes {
  margin:0 0 10px 10px;
}
.topo_colorido {
  background-color:#EBEB95;
}
.topo_colorido h6 {
  color:#576F9E;
  font-weight:normal;
  text-align:center;
  margin:0;
}
ul#lista_de_sugestoes,
ul#lista_de_leve_tambem {
  margin:20px 0 0;
}
ul#lista_de_sugestoes li.produtos {
  list-style:none;
  margin:10px 0 30px;
  padding:0;
  float:left;
  width:260px;
}
ul#lista_de_sugestoes li.produtos p {
  text-align:left;
}
ul#lista_de_sugestoes li.produtos img.thumbnail { 
  float:left;
  margin-right:10px;
}
ul#lista_de_sugestoes li.produtos p.colocar_no_carrinho {
  margin-top:20px;
}
ul#lista_de_sugestoes li.produtos p.colocar_no_carrinho a {
  background-color:#009BCA;
  color:white;
  font-size:12px;
  font-weight:bold;
  padding:5px;
}
ul#leve_tambem .topo_colorido {
  background-color:red;
}
ul#leve_tambem .topo_colorido h6 {
  color:#576F9E;
  font-weight:normal;
  text-align:center;
  margin:0;
}
ul#lista_de_leve_tambem li.produtos {
  list-style:none;
  margin:10px 0 30px;
  padding:0;
}
ul#lista_de_leve_tambem li.produtos p.produto_faltante,
ul#lista_de_leve_tambem li.produtos p.lnk_levar_pacote {
  width:230px;
  display:block;
  float:left;
}
ul#lista_de_leve_tambem li.produtos p.lnk_levar_pacote {
  margin-top:0;
}
ul#lista_de_leve_tambem li.produtos p.lnk_levar_pacote a {
  background-color:#009BCA; 
  color:white;
  font-size:12px;
  font-weight:bold;
  padding:5px;
}
ul#lista_de_leve_tambem li.produtos p.lnk_levar_pacote a:hover {
  text-decoration:none;
  background-color:#69C56A;
}

/* display de precos */
span.preco_mentira {
  text-decoration: line-through;
  color:red;
}
span.preco_final {
  font-weight:bold;
  color:green;
}
span.desconto {
  font-weight:bold;
  color:green;
}