<hr />
<p>Variable debug</p>
<div class="grid_5 alpha">
  <!-- b>session[:pedido]</b><br />
  <%#= debug session[:pedido] %>
  <hr>
  <b>session[:carrinho]</b><br />
  <%#= debug session[:carrinho] %> -->
</div>
<div class="grid_5 alpha">
  <b>@pedido</b><br />
  <%= debug @pedido %>
  <hr>
  <!-- b>@carrinho</b><br />
  <%#= debug @carrinho %> -->
</div>