<div class="grid_5 alpha">
<p class="negrito">É rápido, fácil e seguro! Siga os passos abaixo:</p>
<ol>
  <li>Preencha corretamente os dados da compra a seguir.</li>
  <li>No próximo passo, você será direcionado para o UOL PAGSEGURO, para realizar o pagamento.</li>
  <li>Pronto! Em breve você receberá seu DVD em casa!</li>
</ol>
</div>
<div class="grid_5 omega">
<p>Compra segura através do UOL PAGSEGURO</p>
<img src="https://pagseguro.uol.com.br/Security/Imagens/btnPreferenciaCartoesBR.gif"/>
</div>