<div class="grid_6 alpha">
  <p class="negrito">É rápido, fácil e seguro! Siga os passos abaixo:</p>
  <ol id="passos" class="clearfix">
    <li class="one<% if (i==1) %> marcada<% end -%>">Escolha os produtos e preencha os dados do pedido;</li>
    <li class="two<% if (i==2) %> marcada<% end -%>">Revise e confirme todas essas informações;</li>
    <li class="three<% if (i==3) %> marcada<% end -%>">Faça o pagamento no <b>UOL PagSeguro</b>.</li>
  </ol>
</div>
<div class="grid_5 omega">
<p style="margin-bottom:8px">Compra segura através do <b>UOL PagSeguro</b>:</p>
<%= image_tag("icones/pagseguro_opcoes_pgmto.gif") %>
</div>