<div class="grid_10 alpha omega" id="sugestoes">
<% if (Settings.loja_mostrar_sugestoes.to_i==1) and 
      @sugestoes and 
      not @sugestoes.blank? -%>
  <div class="grid_10 alpha omega topo_colorido">
    <h6>Sugestões da Galinha</h6>
  </div>
  <ul id="lista_de_sugestoes" class="clearfix">
  <% @sugestoes.each do |produto| %>
    <li id="produto_<%= produto.id %>" class="produtos">
      <%= infos_produto_box(produto) %>
    </li>
  <% end %>
  </ul>
  <div class="grid_10 alpha omega topo_sugestoes">
    <p class="direita pequeno" style="margin:0 10px 0 0"><%= link_to_function "não, obrigado.", visual_effect(:blind_up, "sugestoes") -%></p>
  </div>
<% end -%>
</div>