<div class="grid_3 omega" id="leve_tambem">
<% if (settings_checked?(@settings['loja_aproveite_para_levar']) and 
      @leve_tambem and 
      not @leve_tambem.blank?) -%>
  <h6 style="margin-bottom:0"><%= @settings['loja_aproveite_para_levar_titulo'] %></h6>
  <p class="pequeno"><%= @settings['loja_aproveite_para_levar_linha_fina'] %></p>

  <ul id="lista_de_leve_tambem" class="clearfix">
  <% @leve_tambem.each_with_index do |pc, i| -%>
    <% if (i < @settings['loja_aproveite_para_levar_maximo'].to_i) -%>
    <li id="produto_<%= pc.id %>" class="produtos">
      <%= infos_leve_tambem(pc, @carrinho) %>
    </li>
    <% end -%>
  <% end -%>
  </ul>
<% end -%>
</div>
