<select class="validate-selection" id="pedido_estado" name="pedido[entrega_estado]" title="Escolha o estado 
da entrega">
<option value=""></option>
<option value="AC">AC</option>
<option value="AL">AL</option>
<option value="AM">AM</option>
<option value="AP">AP</option>
<option value="BA">BA</option>
<option value="CE">CE</option>
<option value="DF">DF</option>
<option value="ES">ES</option>
<option value="GO">GO</option>
<option value="MA">MA</option>
<option value="MG">MG</option>
<option value="MS">MS</option>
<option value="MT">MT</option>
<option value="PA">PA</option>
<option value="PB">PB</option>
<option value="PE">PE</option>
<option value="PI">PI</option>
<option value="PR">PR</option>
<option value="RJ">RJ</option>
<option value="RN">RN</option>
<option value="RO">RO</option>
<option value="RR">RR</option>
<option value="RS">RS</option>
<option value="SC">SC</option>
<option value="SE">SE</option>
<option value="SP">SP</option>
<option value="TO">TO
</option>
</select>
<%#= select "pedido", "entrega_estado", File.read("#{RAILS_ROOT}/vendor/extensions/galinha_system/app/views/comprar/localizacao/estados.txt"), {:include_blank => true}, :id => "pedido_estado", :class => "validate-selection", :title => "Escolha o estado da entrega" %>
<%#= observe_field "pedido_estado", 
                  :url => {
                    :controller => 'comprar',
                    :action => 'atualiza_cidades'
                    },
                  :with => 'estado',
                  :update => 'pedido_cidade',
                  :before => "$('spinner_estado_e_cidade').show();",
                  :complete => "$('spinner_estado_e_cidade').hide();" if observe -%>
