<div class="grid_12 alpha omega" style="padding-left:30px">
  <div class="grid_12 alpha omega">
  <h3 id="call2compra">Retorno automático do UOLPagSeguro</h3>
  
    <div class="grid_6 alpha">
      <p>Este é um retorno automático do <b>UOLPagSeguro</b>.</p>
      <p>A partir deste retorno podemos analisar o status do pedido e, caso o pagamento tenha sido aprovado, iniciar o processamento do(s) produtos.</p>
      <!-- <%= params.inspect %>-->
    </div>
    <div class="grid_4 sufix_1 omega">
      <img src="/images/logos/logo_bromelia_filminhos.jpg" style="border:1px solid" />
      <p>&nbsp;</p>
    </div>
  </div>
</div>
