<div class="grid_12 alpha omega" style="padding-left:30px">
  <div class="grid_12 alpha omega">
  <h3 id="call2compra">Agora é só fazer o pagamento!</h3>
  <%= render :partial => "instrucoes_iniciais",
             :locals => { :i => 3 } %>
  </div>
<%= render :partial => "form_pagseguro",
           :locals => { 
             :pedido => @pedido,
             :change_page => true
           } %>

<div class="grid_11 alpha omega" style="margin-top:30px">
  <div class="grid_5 alpha">
    <div style="background:#DAE02B;padding:10px">
      <p><b>O número de seu pedido é: <span style="font-size:18px"><%= @pedido.id.to_s -%></span></b></p>
      <p>Anote-o e informe-o sempre que quiser tirar qualquer dúvida com nossa equipe de vendas.</p>
      <p>Enviamos para o email <b><%= @pedido.pessoa.email %></b> informações sobre o status de seu pedido, para que você possa acompanhar com clareza e segurança todo o andamento de sua compra, do pedido à entrega em sua casa.</p>
    </div>
  </div>
  <div class="grid_6 omega">
    <p><b>Quais as formas de pagamento disponíveis?</b></p>
    <ul>
    <li>Cartões de Crédito: Visa, MasterCard, Diners, Hipercard, American Express e Aura.</li>
    <li>Transferência Eletrônica: Bradesco, Itaú, Unibanco, Banco do Brasil, Banco Real, entre outros.</li>
    <li>Boleto Bancário</li>
    </ul>

    <p><b>Informações adicionais sobre segurança</b></p>
    <p>O UOL PagSeguro utiliza alta tecnologia para manter sua informação segura. Quando você envia um pagamento através do sistema PagSeguro, o vendedor não terá acesso a seus dados financeiros, tais como: o número do seu cartão de crédito, ou seus dados bancários. Além disso, o Pagseguro tem o "Pagamento Seguro", processo de custódia do pagamento que aumenta a segurança nas transações entre compradores e vendedores.</p>
    <p>E o mais importante, ele conta com a marca UOL: sinônomo de credibilidade na internet.</p>
  </div>
</div>

</div>
