<div class="prefix_1 grid_10 suffix_1 alpha omega">
<h3 id="call2compra">Peça já os produtos da Galinha Pintadinha!</h3>
<%= render :partial => "instrucoes_iniciais" %>

<!-- CARRINHO -->
<%= render :partial => "mostra_carrinho" %>

<!-- LISTA DE SUGESTOES -->
<%= render :partial => "mostra_sugestoes" %>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<hr />
<p>Variable debug</p>
<b><%#= debug session[:carrinho] %></b>
</div>