<div class="grid_12 alpha omega" style="padding-left:30px">
  <div class="grid_12 alpha omega">
  <h3 id="call2compra">Obrigado pelo pedido: estamos aguardando...</h3>
  
    <div class="grid_5 alpha">
      <p>Estamos aguardando a confirmação eletrônica do UOL PagSeguro referente ao pagamento de seu pedido.</p>
      <p>Assim que seu pagamento for aprovado no UOL PagSeguro, nosso sistema será automaticamente informado e, então, processaremos seu pedido.</p>
      <p>Mas quando isso vai acontecer? Não se preocupe: você será avisado por email a cada alteração de status de seu pedido em nosso sistema. Tudo automatizado para sua comodidade.</p>
      <p>Portanto, fique atento a sua caixa de email: para lá enviaremos qualquer notificação referente a seu pedido.</p>
    </div>
  </div>
</div>
