<ul>
  <li><%= link_to "Rodapé dos emails", 
                  { :action => "editar_arquivo", 
                    :file => "/app/views/mailer/_rodape.html.erb",
                    :nome_arquivo => "Rodapé padrão dos emails",
                    :rows => 8, :cols => 70 },
                  :method => :post -%></li>
  <li><%= link_to "Emails administrativos",
                  { :action => "emails_admin" } %></li>
</ul>
