<ul>
  <li>
    <span>Identificação da Empresa na Etiqueta (Automação...)</span><br />
    <%= text_area_tag "settings[automacao_empresa_na_etiqueta]", @settings["automacao_empresa_na_etiqueta"], :cols => 40, :rows => 4 -%>
  </li>
</ul>  