<div class="grid_5 alpha" id="vendas"><h1 class="vermelho">Chegou o <span class="caps">DVD</span> da Galinha Pintadinha e sua Turma!</h1>
<div id="chamada_para_venda">
<p id="produto">
  <span class="caps">DVD</span> 
  Galinha Pintadinha
  <br />
  <span id="preco" class="azul_claro">R$ 24,90</span>
  <br />
  (+ R$8,00 de <span class="caps">FRETE</span>, exceto 
  <br /> 
  &nbsp;&nbsp;&nbsp;para AM, CE, MA, PI, PA,
  <br />
  &nbsp;&nbsp;&nbsp;RN e RO, frete R$13,00)
</p>

	<p style="margin:0"><%= link_to image_tag("produtos/botao_compra_dvd1.png", :id => "dvd_com_botao"), 
	                                { :controller => "comprar", 
	                                  :action => "incluir",
	                                  :produto_id => 1 },
	                                :method => :post %></p>
	<p style="text-align:right;margin-right:15px;color:#007AC1">Produto disponível, <span class="negrito">pronta entrega</span></p>
</div>

<ul id="vantagens" style="margin-top: 25px;">
  <li>13 Clipes Musicais Infantis</li>
  <li>
    <p id="musicas">Galinha Pintadinha ♦  Marcha Soldado ♦  Escravos de Jó ♦ Fli Flai ♦ Indiozinhos ♦ ABC ♦ Mariana ♦ O Sapo ♦ Pintinho Amarelinho ♦ Tororó ♦ A Barata ♦ Quem Está Feliz ♦ Coelhinho</p>
  </li>
  <li>Letras Saltitantes</li>
  <li>Versão Karaokê</li>
  <li class="menor" style="margin-top: 5px;">Áudio e Ví­deo com qualidades de <span class="caps">DVD</span>!</li>
  <li class="menor">Saia da internet e da frente do computador!</li>
  <li class="menor">Cante e divirta-se com a famí­lia e os amigos!</li>
</ul>
</div>

<div class="grid_12 alpha" id="barra_selos">
  <div class="grid_7 alpha">
    <img src="/images/decoracao/splash_youtube.png" style="margin-left: 25px;" alt="splash youtube" />
    <img src="/images/decoracao/logo_prefeitura_campinas.png" height="100" width="100" alt="logo prefeitura campinas" />
    <img src="/images/decoracao/logo_ficc.png" height="100" width="100" alt="logo ficc" />
    <img src="/images/decoracao/logo_tvbrasil.png" height="100" width="120" alt="logo tvbrasil" />
  </div>

  <div class="grid_5 alpha omega">
    <p>Pagamento online 100% seguro <span class="caps negrito">PAGSEGURO UOL</span></p>
    <p><a href="https://pagseguro.uol.com.br" title="Este site aceita pagamentos com Visa, MasterCard, Diners, American Express, Hipercard, Aura, Bradesco, Itaú, Unibanco, Banco do Brasil, Banco Real, saldo em conta PagSeguro e boleto." target="_blank"><img src="https://pagseguro.uol.com.br/Imagens/Banners/btnPreferenciaCartoesBR_375x75.gif" alt="logo uol pagseguro" /></a></p>
  </div>
</div>