<div id="copyhome" class="grid_12 alpha omega">
  <div id="depoimentos" class="grid_5 alpha">
    <h3 class="azul_claro">Olha só o que andam falando dessa galinha!</h3>
    <p>“Parabéns pelo cuidado com o atendimento ao cliente! Parabéns também pelo bom uso da Internet como ferramenta de vendas, descobri vocês pelo Youtube!”</p>
    <p>“MARAVILHOASO! Muuuuuuuito bom!! Parabéns!!!”</p>
    <p>“Meu filho adora!”</p>
    <p>“Meu filho tem 1 ano é apaixonado por esse video…”</p>
    <p>“Esse video é uma comédia”</p>
    <p>“Muito muito bom! Parabéns aos autores da animação e da trilha!”</p>
    <p>“Amei, tá no meu favorito” </p>
    <p>“Comprei o <span class="caps">DVD</span> e é muito lindo! Meu filhinho ama! Parabéns aos criadores!</p>
    <p><a href="/depoimentos">Veja mais depoimentos</a></p>
  </div>

  <div id="saibamais" class="grid_6 omega">
    <div style="margin-right: 50px;">
      <h3 class="azul_claro">Saiba mais…</h3>
      <p><span class="caps">O DVD</span> <strong>Galinha Pintadinha</strong> e sua Turma é um produto 100% brasileiro, feito por gente que, como você, procura entender e melhorar o nosso país.</p>
      <p>Mais que isso, visa fortalecer nossa cultura e nossa identidade, ensinando <strong>músicas e brincadeiras de nossa terra</strong> para nossas crianças.</p>
      <p>Esperamos que vocês gostem deste trabalho, pois ele foi feito com muito carinho por quem se preocupa com os pequenos que são o nosso futuro.</p>
      <p>Divirtam-se e muitos <em>cococós</em> para todo mundo!</p>
      <p style="text-align: right;">Equipe da Galinha Pintadinha</p>
    </div>
  </div>
</div>