<div class="grid_7 alpha" id="player">
  <div id="video_youtube">
    <object width="425" height="332">
      <param value="http://www.youtube.com/v/1i7p0vTGcBk&hl=en&fs=1" name="movie" />
      <param value="true" name="allowFullScreen" />
      <embed width="425" height="332" allowfullscreen="true" type="application/x-shockwave-flash" src="http://www.youtube.com/v/1i7p0vTGcBk&hl=en&fs=1" />
    </object>
  </div>
  <div id="video_icones">
    <p>
      <a href="/videos/galinha_pintadinha"><img src="/images/decoracao/bot_galinha.png" alt="icone galinha" /></a>
      <a href="/videos/pintinho_amarelinho"><img src="/images/decoracao/bot_pintinho.png" alt="icone pintinho" /></a>
      <a href="/videos/baratinha"><img src="/images/decoracao/bot_barata.png" alt="icone barata" /></a>
    </p>
    <p id="trailer">
      <a href="/videos/trailer">Trailer</a>  &nbsp;|&nbsp;  
      <a href="/videos/karaoke">Exemplo Karaokê</a>
    </p>
  </div>
  <div id="count_youtube"></div>
</div>
<%#= render :partial => "barra_lateral" %>
<!-- barra lateral -->
<div class="grid_5 alpha" id="vendas"><h1 class="vermelho">Chegou a pelúcia da Galinha Pintadinha!</h1>
  <div id="chamada_para_venda">
    <p id="produto" class="margin0 direita" style="margin:0 30px 0 0;float:right;">
      Pelúcia da Galinha Pintadinha
      <br />
      <span id="preco" class="azul_claro"><%= number2currency(34.9) %></span>
      <br />
      <span>(+ FRETE)</span>
    </p>
    <p class="direita" style="color:#007AC1;position:relative;top:-80px">
      <%= link_to image_tag("produtos/botao_compra_dvd1.png", :id => "dvd_com_botao"), 
                                      { :controller => "comprar", 
                                        :action => "incluir",
                                        :produto_id => 4 },
                                      :method => :post,
                                      :style => "display:inline" %>
      <span style="margin-right:20px">Produto disponível, <span class="negrito">pronta entrega</span></span>
    </p>
  </div>
</div>

<%= render :partial => "depoimentos_saibamais" %>