<p style="margin:0">
  <%= thumbnail_produto(produto) -%><br />
  <span class="pequeno"><%= produto.nome %></span>
  <% if options[:mostrar_preco] -%>
  <br /><b><%= number_to_currency(produto.preco) %></b>
  <% end -%>
</p>
<% if options[:link_to_carrinho] -%>
<p><%= link_to_remote "Colocar #{image_tag('icones/adicionar_carrinho.png')}", 
                      :url => { :action => "incluir", 
                                :produto_id => produto.id } -%></p>
<% end -%>