<div class="grid_12 alpha omega" style="padding-left:30px">
  <h3 class="vermelho">Galinha Pintadinha no iPhone e iPod Touch</h3>
  <div class="grid_7 prefix_2 alpha omega">
    <div class="grid_2 alpha">
      <img src="/images/decoracao/app_store_badge.png" alt="App_store_badge" />
    </div>
    <div class="grid_5 omega" style="padding-top:10px">
      <p>Drops de diversão da Galinha Pintadinha e sua turma<br /> no seu iPhone ou iPod Touch, para levar pra todo lado.</p>
    </div>
  </div>
  
  <!-- yellow line -->
  <div class="grid_11 alpha omega">
    <p style="text-align:center;background-color:#FFFFCC;border: 1px solid #FFCC00;padding: 10px;">Procure por &quot;<strong>Galinha Pintadinha</strong>&quot; na AppStore para ver a lista completa</p>
  </div>

  <div class="grid_11 alpha omega" style="margin-top:30px">
    <!-- POCHICKENPO -->
    <div class="grid_5 alpha">
       <object width="370" height="230"><param name="movie" value="http://www.youtube.com/v/Dkgw_Hh3V9Y&hl=en&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
        <embed src="http://www.youtube.com/v/Dkgw_Hh3V9Y&hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="370" height="230">
        </embed>
       </object>
    </div>
    <div class="grid_6 omega">
      <img src="/images/decoracao/icone_pochickenpo.jpg" alt="icone pochickenpo" style="float:left;margin-right:15px;"  />
      <h2>PoChickenPo</h2>
      <p>Para crianças e marmanjos!<br />
      Um desenho animado interativo! Diversão rápida e descompromissada para toda a família neste desenho animado interativo, em que três galinhas engraçadas vão fazer você dar muitas risadas. </p>
      <p><img src="/images/logos/logo_tectoy_peq.jpg" alt="TecToy"/></p>
      <p><a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=317220802&mt=8">Ver no iTunes</a></p>
    </div>
  </div>
  
  <div class="grid_11 alpha omega" style="margin-top:30px">
    <!-- MEMORINHA -->
    <div class="grid_5 alpha">
      <p style="text-align:center">
        <img src="/images/decoracao/mockup_memorinha_iphone.jpg" />
      </p>
    </div>
    <div class="grid_6 omega" style="padding-top:30px">
      <img src="/images/decoracao/icone_memorinha.jpg" alt="icone memorinha" style="float:left;margin-right:15px;"  />
      <h2>Memorinha</h2>
      <p>Divertido e colorido!<br />
        O jogo de memória da Galinha Pintadinha. O tradicional jogo que ajuda as crianças treinarem a concentração, memória e observação. Tudo com a Galinha Pintadinha e sua turma.</p>
      <p><a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=322338801&mt=8">Ver no iTunes</a></p>
    </div>
  </div>

  <div class="grid_11 alpha omega" style="margin-top:30px">
    <!-- VIDEOS -->
    <div class="grid_5 alpha">
      <p style="text-align:center">
        <img src="/images/decoracao/mockup_video_3iphones_galinha.jpg" />
      </p>
    </div>
    <div class="grid_6 omega">
      <img src="/images/decoracao/icone_galinha_free.jpg" alt="icone pochickenpo" style="float:left;margin-right:15px;"  />
      <h2>Videos</h2><br />
      <p>Colecione os vídeos!<br />
         Divirta-se também no iPhone com os vídeos da Galinha Pintadinha e sua turma.</p>
      <p><img src="/images/logos/logo_01_peq.jpg" alt="ZeroUm Digital"/></p>
      <p><a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=309062919&mt=8">Ver no iTunes</a></p>
    </div>
  </div>
</div>