<div class="grid_4 prefix_1 alpha" style="margin-top:40px;">
  <img src="/images/logos/logo_bromelia_filminhos.jpg" style="border:1px solid" />
  <p>&nbsp;</p>
</div>
<div class="grid_6 omega">
  <h3 class="vermelho">Quem somos</h3>
  <p>A Bromélia Filminhos é uma produtora 100% brasileira que produz e comercializa conteúdo audiovisual para nossas crianças e está situada em Campinas-SP.</p>

  <p>Razão Social: Bromelia Produções LTDA<br />
  CNPJ: 09.583.710/0001-66<br />
  Incr. Estadual: 244.786.970.119<br />
  Certificado de Registro de Empresa Brasileira (ANCINE): 13890
  </p>
  <p>O DVD da Galinha Pintadinha possui Certificado de Produto Brasileiro junto à  Agência Nacional de Cinema sob o número 08008907.</p>
</div>
