<h1>Editar Combo</h1>

<% form_for(@produto, :url => { :action => "update_combo", :id => @produto }, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form_produto_combo", :locals => { :f => f } %>
  <p class="form_button"><%= f.submit "Salvar" %> ou <%= link_to "Voltar", admin_produtos_path %></p>
<% end %>