<div class="letras">
<h1>A Barata</h1>

<p>A barata diz que tem <br />
Sete saias de filó <br />
É mentira da barata <br />
Ela tem é uma só <br />

<blockquote>
<p>Há, há, há, hó, hó, hó<br />
Ela tem é uma só <br />
Há, há, há, hó, hó, hó<br />
Ela tem é uma só <br />
</blockquote>

<p>A barata diz que tem <br />
Um anel de formatura <br />
É mentira da barata <br />
Ela tem a casca dura <br />

<blockquote>
<p>Há, há, há, hó, hó, hó<br />
Ela tem é a casca dura<br />
Há, há, há, hó, hó, hó<br />
Ela tem é a casca dura<br />
</blockquote>

<p>A barata diz que tem <br />
Um sapato de fivela <br />
É mentira da barata <br />
O sapato é da mãe dela <br />

<blockquote>
<p>Há, há, há, hó, hó, hó<br />
O sapato é da mãe dela<br />
Há, há, há, hó, hó, hó<br />
O sapato é da mãe dela<br />
</blockquote>

<p>A barata diz que tem <br />
Uma saia de capim <br />
É mentira da barata <br />
Ela tem é de capim <br />

<blockquote>
<p>Há, há, há, hó, hó, hó<br />
Ela tem é de capim<br />
Há, há, há, hó, hó, hó<br />
Ela tem é de capim<br />
</blockquote>

<p>A barata diz que tem <br />
Um sapato de veludo <br />
É mentira da barata <br />
Ela tem o pé peludo <br />

<blockquote>
<p>Há, há, há, hó, hó, hó<br />
Ela tem o pé peludo<br />
Há, há, há, hó, hó, hó<br />
Ela tem o pé peludo<br />
</blockquote>

<p>A barata diz que tem <br />
Sete saias de balão <br />
É mentira não tem não <br />
Nem dinheiro pra sabão <br />

<blockquote>
<p>Há, há, há, hó, hó, hó<br />
Nem dinheiro pra sabão<br />
Há, há, há, hó, hó, hó<br />
Nem dinheiro pra sabão<br />
</blockquote>

<p>A barata diz que tem <br />
Um vestido de babado <br />
É mentira da barata <br />
O vestido tá rasgado <br />

<blockquote>
<p>Há, há, há, hó, hó, hó<br />
O vestido tá rasgado <br />
Há, há, há, hó, hó, hó<br />
O vestido tá rasgado<br />
</blockquote>

<p>A barata sempre diz <br />
Que viaja de avião <br />
É mentira da barata <br />
Ela vai é de busão <br />

<blockquote>
<p>Há, há, há, hó, hó, hó<br />
Ela vai é de busão<br />
Há, há, há, hó, hó, hó<br />
Ela vai é de busão
</blockquote>

</div>