<div class="letras">
<h1>Coelhinho</h1>

<p>De olhos vermelhos <br />
De pelos branquinhos <br />
De passo ligeiro <br />
Eu sou o coelhinho <br />

<p>
Sou muito assustado <br />
Porém sou guloso <br />
Por uma cenoura <br />
Já fico manhoso <br />
</p>

<p>Eu pulo pra frente <br />
Eu pulo pra trás <br />
Dou mil cambalhotas <br />
Sou forte demais <br />

<p>
Comi uma cenoura <br />
Com casca e tudo <br />
Tão grande ela era <br />
Que fiquei barrigudo <br />
</p>

</div>