<div class="letras">
<h1>Escravos de Jó</h1>

<p>Escravos de jó <br />
Jogavam cachangá <br />
Tira, põe, <br />
Deixa ficar <br />


<p>
Guerreiros com guerreiros <br />
Fazem zig-zig-za <br />
Guerreiros com guerreiros <br />
Fazem zig-zig-za <br />
</p>

</div>