<div class="letras">
<h1>Fli Flai</h1>

<p>Fli <br />
Fli (todos) <br />

<p>
Fli-flai <br />
Fli-flai (todos) <br />
</p>

<p>Fli-flai-flu <br />
Fli-flai-flu (todos) <br />

<p>
Tumba <br />
Tumba (todos) <br />
</p>

<p>Tumba lá lá <br />
Tumba lá lá <br />
Tumba lá lá vista <br />

<p> 
Tumba lá lá (todos) <br />
Tumba lá lá <br />
Tumba lá lá vista <br />
</p>

<p>No no no no vista <br />
No no no no vista (todos) <br />

<p>
Mini mini desta <br />
Mini mini mini uauá <br />
Mini mini desta (todos) <br />
Mini mini mini uauá <br />
</p>

<p>No no no chuauá <br />
No no no chuauá (todos) <br />

</div>