<div class="letras">
<h1>Galinha Pintadinha</h1>

<p>Pó pó pó pó pó... </p>

<p>
A Galinha Pintadinha <br />
e o Galo Carijó <br />
a galinha usa saia <br />
e o galo paletó </p>

<blockquote>
<p>
A galinha ficou doente <br />
e o galo nem ligou <br />
e os pintinhos foram correndo <br />
pra chamar o seu doutor </p>
</blockquote>

<p>
o doutor era o peru <br />
a enfermeira era um urubu <br />
e a agulha da injeção <br />
era a pena do pavão </p>

<p>Uiiiii! </p>

<p>Pó pó pó pó pó...  </p>

<p>A Galinha Pintadinha <br />
e o Galo Carijó <br />
a galinha usa saia <br />
e o galo paletó </p>

<blockquote>
<p>A galinha ficou doente <br />
e o galo nem ligou <br />
e os pintinhos foram correndo <br />
pra chamar o seu doutor </p>
</blockquote>

<p>o doutor era o peru <br />
a enfermeira era um urubu <br />
e a agulha da injeção <br />
era a pena do pavão </p>

<p>Uiiiii! </p>

<p>Pó pó pó pó pó...  </p>

</div>