<div class="letras">
<h1>Indiozinhos</h1>

<p>1, 2, 3 indiozinhos <br />
4, 5, 6 indiozinhos <br />
7, 8, 9 indiozinhos <br />
10 no pequeno bote <br />

<p>Iam navegando rio abaixo <br />
Quando o jacaré se aproximou <br />
E o indiozinho olhou pra baixo <br />
E o bote quase virou <br />

</div>