<div class="letras">
<h1>Marcha Soldado</h1>

<p>Marcha Soldado, cabeça de Papel <br />
Quem não marchar direito vai preso pro quartel <br />
O quartel pegou fogo <br />
São Francisco deu sinal <br />
Acode, acode, acode <br />
A bandeira nacional <br />

</div>