<div class="letras">
<h1>O Sapo</h1>

<p>O sapo não lava o pé <br/>
Não lava porque não quer <br/>
Ele mora lá na lagoa <br/>
Não lava o pé porque não quer </p>


<p>
O sapo não lava o pé <br/>
Não lava porque não quer <br/>
Ele mora lá na lagoa <br/>
Não lava o pé porque não quer <br/>
Mas que chulé! <br/>
</p>

<p>A sapa na lava a pá <br/>
Na lava parca na cá <br/>
Ala mara lá na lagaa <br/>
Na lava a pá parca na cá <br/>
Mas cá chalá! </p>

<p> 
E sepe ne leve e pe <br/>
Ne leve perque ne que <br/>
Ele mere le ne leguee <br/>
Ne leve e pe perque ne que <br/>
Mes que chele! <br/>
</p>

<p>I sipi ni livi i pi <br/>
Ni livi pirqui ni qui <br/>
Ili miri li ni liguii <br/>
Ni livi i pi pirqui ni qui <br/> 
Mis qui chili! </p>

<p> 
O sopo no lovo o po <br/> 
No lovo porco no co <br/>
Olo moro lo no logoo <br/>
No lovo o po porco no co <br/>
Mos co cholo! <br/>
</p>

<p>U supu nu luvu u pu <br/>
Nu luvu purcu nu cu <br/>
Ulu muru lu nu luguu <br/> 
Nu luvu u pu purcu nu cu <br/>
Mus cu chulu! </p>

</div>