<div class="letras">
<h1>Pintinho Amarelinho</h1>

<p>Meu pintinho amarelinho <br />
Cabe aqui na minha mão <br />
Na minha mão <br />
Quando quer comer bichinhos <br />
Com seus pezinhos ele cisca o chão <br />

<p>
Meu pintinho amarelinho <br />
Cabe aqui na minha mão <br />
Na minha mão <br />
Quando quer comer bichinhos <br />
Com seus pezinhos ele cisca o chão
</p>

<p>Ele bate as asas, <br />
ele faz piu piu <br />
Mas tem muito medo <br />
É do gavião <br />

<p>
Ele bate as asas, <br />
ele faz piu piu <br />
Mas tem muito medo <br />
É do gavião <br />
</p>

</div>