<div class="letras">
<h1>Quem está feliz</h1>

<p>Quem está feliz bate palmas <br />
Quem está feliz bate palmas <br />
Alegria de viver, de sorrir e de cantar <br />
Quem está feliz bate palmas <br />

<p>
Quem está feliz bate os pés <br />
Quem está feliz bate os pés <br />
Alegria de viver, de sorrir e de cantar <br />
Quem está feliz bate os pés <br />
</p>

<p>Bate o pé, bate palma <br />
Bate o pé, bate palma <br />
Bate palma, bate o pé <br />
Palma, palma, pé, pé <br />
Como é que é? <br />

<p>
Quem está feliz estala os dedos <br />
Quem está feliz estala os dedos <br />
Alegria de viver, de sorrir e de cantar <br />
Quem está feliz estala os dedos <br />
</p>

<p>Quem está feliz assovia <br />
Quem está feliz assovia <br />
Alegria de viver, de sorrir e de cantar <br />
Quem está feliz assovia <br />

<p>
Estala os dedos, assovia <br />
Bate palma, bate o pé <br />
Bate palma, estala os dedos <br />
Assovia, bate o pé <br />
Entendeu como é que é? <br />
Xiiiiii... <br />
</p>

<p>Quem está feliz balança as mãos <br />
Quem está feliz balança as mãos <br />
Alegria de viver, de sorrir e de cantar <br />
Quem está feliz balança as mãos <br />

<p>
Quem está feliz faz o cinco <br />
Quem está feliz faz o cinco <br />
Alegria de viver, de sorrir e de cantar <br />
Quem está feliz faz o cinco <br />
</p>

</div>