<div class="letras">
<h1>Tororó</h1>

<p>Fui no Totoró,<br />
beber agua não achei<br />
Achei bela menina<br />
que no totoró deixei<br />

<p>
Aproveite minha gente<br />
que uma noite não é nada<br />
Se não dormir agora<br />
dormirá de madrugada<br />
</p>

<p>Ó Mariazinha, Mariazinha<br />
Entrará na roda<br />
e ficará sozinha<br />

<p>
Sozinha eu não fico<br />
nem hei de ficar<br />
Pois eu tenho Joãozinho<br />
para ser meu par<br />
</p>

</div>