<div class="grid_12 alpha omega" style="padding-left:30px">

  <h2 class="vermelho">Letras das Músicas</h2>

  <div class="grid_4 alpha">
    <p><a href="/letras/galinha-pintadinha">Galinha Pintadinha</a></p>
    <p><a href="/letras/o-sapo">O Sapo</a></p>
    <p><a href="/letras/a-barata">A Barata</a></p>
    <p><a href="/letras/pintinho-amarelinho">Pintinho Amarelinho</a></p>
    <p><a href="/letras/indiozinhos">Indiozinhos</a></p>
  </div>
  
  <div class="grid_4">
    <p><a href="/letras/marcha-soldado">Marcha Soldado</a></p>
    <p><a href="/letras/mariana">Mariana</a></p>
    <p><a href="/letras/tororo">Tororó</a></p>
    <p><a href="/letras/abc">ABC</a></p>
    <p><a href="/letras/coelhinho">Coelhinho</a></p>
  </div>
  
  <div class="grid_4 omega">
    <p><a href="/letras/fli-flai">Fli Flai</a></p>
    <p><a href="/letras/escravos-de-jo">Escravos de Jó</a></p>
    <p><a href="/letras/quem-esta-feliz">Quem está feliz</a></p>
  </div>

</div>